.idea/
.vscode/
frontend/node_modules/
frontend/compressed/
frontend/raw/
frontend/dist/
frontend/public/*.js
frontend/public/*.js
frontend/public/merged/
scripts/node_modules/
scripts/*.exe
scripts/*.spec
scripts/git
scripts/build
scripts/dist
runtime/
BackUp/
squadmortar.exe
release/
squadmortar.zip
frontend/public/app.js.LICENSE.txt
visual.au3
language-server-log.txt